<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>fakeservices</display-name>

    <servlet>
        <servlet-name>SvarUtFakeService</servlet-name>
        <servlet-class>no.ks.sakimport.fake.svarut.SvarUtFakeService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvarUtFakeService</servlet-name>
        <url-pattern>/tjenester/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EphorteFakeService</servlet-name>
        <servlet-class>no.ks.sakimport.fake.ephorte.EphorteFakeService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EphorteFakeService</servlet-name>
        <url-pattern>/EphorteFakeService/*</url-pattern>
    </servlet-mapping>
</web-app>
